{{ define "main" }}
<div class="homepage">
    <h1>Bienvenidos a Mi Sitio</h1>
        <p>¿Qué Puedes Esperar de Este Blog?
            Tutoriales Prácticos: Guías paso a paso sobre cómo implementar soluciones de automatización de pruebas y pruebas de rendimiento utilizando herramientas modernas y tecnologías emergentes.
            Estudios de Caso: Análisis detallados de proyectos reales en los que se aplicaron estrategias de testing automation y performance, destacando desafíos y soluciones.
            Reseñas de Herramientas: Evaluaciones de las últimas herramientas y frameworks en el ámbito del testing, como Selenium, JMeter, Postman, y más.
            Mejores Prácticas y Consejos: Artículos sobre técnicas avanzadas, patrones de diseño y enfoques para optimizar y escalar tus pruebas automatizadas y de rendimiento.
            Novedades y Tendencias: Mantente actualizado con las últimas tendencias en la industria del software, incluyendo DevOps, CI/CD, y metodologías ágiles..</p>
        <ul>
        <li><a href="/mi-primer-pagina">Ir a Mi Primera Página</a></li>
        </ul>
</div>
{{ end }}
